html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

button {
  border: none;
  cursor: pointer;
}

.app {
  display: grid;
  grid-template-areas: 1fr 1fr 1fr/ 1fr;
  grid-template:
    "info info profile"
    "trans trans trans";
  justify-content: center;
  align-items: center;
  color: white;
}

.expense-tracker {
  grid-area: info;
  display: flex;
}
.container {
  width: 50vw;
  line-height: 2rem;
}

.container > h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}
.balance {
  font-size: 1.5rem;
}
.summary {
  margin: 1rem 0;
}
.income {
  margin-bottom: 1rem;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.profile-photo {
  width: 10rem;
  border-radius: 50%;
}

.sign-out-button {
  width: fit-content;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  border: 2px solid white;
  margin: 2rem 0;
  background: none;
  color: white;
  transition: 0.2s;
}

.sign-out-button:hover {
  background: white;
  color: rgb(0, 0, 0);
}

.transactions {
  grid-area: trans;
}

.add-transaction {
  width: 12rem;
}
.add-transaction > input {
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  border: none;
  background: none;
  color: white;
  border: 2px solid white;
  transition: 0.2s;
}

.add-transaction > input:focus {
  color: black;
  background-color: white;
  outline: none;
}

.add-transaction > input[type="radio"] {
  accent-color: black;
}
.add-transaction > input[type="radio"]:checked {
  accent-color: #767676;
  outline: none;
}

.add-transaction > button {
  width: 100%;
  padding: 0.3rem 0;
  border-radius: 1rem;
  border: 2px solid white;
  margin: 2rem 0;
  background: none;
  color: white;
  transition: 0.2s;
}
.add-transaction > button:hover {
  background: white;
  color: rgb(0, 0, 0);
}
.transactions > h3 {
  position: fixed;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem;
}

.transactions {
  overflow: scroll;
  height: 100%;
}

.transactions > ul {
  text-align: center;
  width: 100%;
}

.transactions > ul > li {
  margin: 2rem 0;
}
.transactions > ul > li > h4 {
  font-weight: 700;
  margin: 1rem 0;
}
